
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2 style="align-content:center">Mua hàng thành công,Cám Ơn bạn.Hàng sẽ giao trong vòng 4~5 ngày</h2>

<a href="/Home/Index">Home</a>